@{
    var firstVisit = Context.Request.Cookies["FirstVisit"];
    if (string.IsNullOrEmpty(firstVisit))
    {
        firstVisit = DateTime.Now.ToString();
        Context.Response.Cookies.Append("FirstVisit", firstVisit);
        <p>Welcome! This is your first visit.</p>
    }
    else
    {
        <p>You first visited on: @firstVisit</p>
    }
}
